:root {
    --olive:rgb(86, 134, 54);
    --aqua:#cf9742;
    --white: #ffff;
  
  }
  
  body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  header {
    padding: 40px;
    text-align: center;
    background: var(--olive);
    color: var(--white);
  }
  nav {
    display: flex;
    background-color: var(--aqua);
  }
  nav a {
    color: var(--blue);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  nav a:hover {
    background-color: var(--white);
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  .services {
    flex: 1;
    background-color: var(--white);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card {
    border-style: solid;
    border-color: #3f552e;
    border-width: 3px;
    padding: 10px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #3f552e;
    margin: 20px;
  }